<ion-content>
  <ion-list>

    <ion-item>
      <ion-back-button text='' defaultHref="sites"  class="ion-padding-end"></ion-back-button>

      <ion-avatar>
        <img [src]="images[0]">
      </ion-avatar>

      <ion-label text-wrap class="ion-padding-start">
        <h3>{{ information.title }}</h3>
        {{ address.zipCode}}, {{ address.city}}, {{ address.street}}, {{ address.country}}, {{ address.state}}
      </ion-label>

    </ion-item>

  </ion-list>
  <ion-img [src]="images[0]" class="image"></ion-img>
  <ion-list class="ion-padding-top" lines="none">
    <ion-item>
      <ion-icon name="person-outline"></ion-icon>
      <ion-label class="ion-padding-start">{{contacts.firstName}} {{contacts.lastName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="j0b-title">{{contacts.jobTitle}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="call-outline"></ion-icon>
      <ion-label class="ion-padding-start">{{contacts.phoneNumber}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label class="ion-padding-start">{{contacts.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="location-outline"></ion-icon>
      <ion-label class="ion-padding-start">{{ address.zipCode}}</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
